In [50]:
a = "Hello"
b = 8
c = 8.1
d = "19.01"
e = 'Mahesh'

In [43]:
## What is the datatype of above variables a, b, c, d, e?
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [44]:
## What is output datatype?
type(b + c)

float

In [52]:
b + c

16.1

In [51]:
int(b + c)

16

In [53]:
round(b + c)

16

In [58]:
"""
b = 8
d = "19.01"
"""
b + d

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
b + float(d)

27.01

In [61]:
int(b + d) ## Wrong

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [60]:
b + int(d)

ValueError: invalid literal for int() with base 10: '19.01'

In [62]:
b + int(float(d))

27

In [55]:
## What will be the output DATATYPE of below expression
type(4 > 5)

bool

In [1]:
## Fix the error
print('Hello I'm Yogesh')

SyntaxError: invalid syntax (<ipython-input-1-61f429786fd3>, line 2)

In [56]:
print("Hello I'm Yogesh")

Hello I'm Yogesh

In [57]:
print('Hello I\'m Yogesh') # IMP

Hello I'm Yogesh

In [63]:
s1 = "Hello everyone. I hope everyone is enjoying Pythonüêç"

In [66]:
len(list(s1))

51

In [64]:
## How to find the length of the string?
len(s1)

51

In [67]:
## What does following code prints?
s1[:]

'Hello everyone. I hope everyone is enjoying Pythonüêç'

In [70]:
## Print "Hello" from s1
s1[0:5]

'Hello'

In [71]:
## Replace "Hello" with "Hey"
s1.replace("Hello", "Hey")

'Hey everyone. I hope everyone is enjoying Pythonüêç'

In [72]:
s1

'Hello everyone. I hope everyone is enjoying Pythonüêç'

In [73]:
## Can we update the string variable i.e s1?
s1[0] = "h"

TypeError: 'str' object does not support item assignment

In [74]:
## Is this possible?
s1 = "Hello everyone. How is Pythonüêç?"

In [75]:
s1

'Hello everyone. How is Pythonüêç?'

In [76]:
## Can we delete any charcater from string variable?
del s1[0]

TypeError: 'str' object doesn't support item deletion

In [77]:
## Is this possible?
del s1

In [78]:
s1

NameError: name 's1' is not defined

In [79]:
s1 = "Hello everyone. I hope everyone is enjoying Pythonüêç"

In [85]:
## Which function to use to check if "Hello" is present in the s1 string?
## Likewise check "learning" as well
print(s1.index("Hello"))
print(s1.find("Hello"))
print(s1.find("hello"))
#print(s1.index("hello"))
print(s1.index("enjoying"))
print(s1.find("enjoying"))

0
0
-1
35
35

In [86]:
"Hello" in s1

True

In [88]:
"hello" in s1.lower()

True

In [90]:
ss = "heLLo"
ss.lower() in s1.lower()

True

In [91]:
s1.lower()

'hello everyone. i hope everyone is enjoying pythonüêç'

In [92]:
s1

'Hello everyone. I hope everyone is enjoying Pythonüêç'

In [105]:
## List down Bajaj products 
products = ["Bajaj Scooter", "High Quality Bajaj Mixer", "Bajaj fan", "Havells Fan"]
for p in products:
   if(p.find("Bajaj") == 0) :#if ("Bajaj" in p) :
       print(p)

Bajaj Scooter
Bajaj fan

In [106]:
products = ["Bajaj Scooter", "High Quality Bajaj Mixer", "Bajaj fan", "Havells Fan"]
for p in products:
    print(p.find("Bajaj"))

0
13
0
-1

In [107]:
products = ["Bajaj Scooter", "High Quality Bajaj Mixer", "Bajaj fan", "Havells Fan"]
for p in products:
   if(p.find("Bajaj") + 1) :#if ("Bajaj" in p) :
       print(p)

Bajaj Scooter
High Quality Bajaj Mixer
Bajaj fan

In [103]:
if(-1):
    print(-1)

-1

In [108]:
s2 = "Hello everyone. I hope Everyone is Enjoying Python. Python is must have skill as a Developer. After the session you should be good at Python"

In [109]:
## Split the string into words
s2.split()

['Hello',
 'everyone.',
 'I',
 'hope',
 'Everyone',
 'is',
 'Enjoying',
 'Python.',
 'Python',
 'is',
 'must',
 'have',
 'skill',
 'as',
 'a',
 'Developer.',
 'After',
 'the',
 'session',
 'you',
 'should',
 'be',
 'good',
 'at',
 'Python']

In [111]:
## Split the string by sentence
s2.split(". ")

['Hello everyone',
 'I hope Everyone is Enjoying Python',
 'Python is must have skill as a Developer',
 'After the session you should be good at Python']

In [119]:
## Convert list of strings into a string
text = ['Python', 'is', 'a', 'fun', 'programming', 'language']

# join elements of text with space
" ".join(text)

'Python is a fun programming language'

In [116]:
x = ""
for t in text:
    x = x + " " + t
x

' Python is a fun programming language'

In [121]:
a = ""
for p in text:
    a.append(p)

AttributeError: 'str' object has no attribute 'append'

In [122]:
## List
cities = ["New York", "London", "Mumbai", 'Berlin']
mix_list = ["abc", 56, 89.19, "78"]

In [123]:
## How to check length of list?
len(cities)

4

In [127]:
city = "London"
cities.index(city)

1

In [128]:
cities[cities.index("London")]

'London'

In [124]:
## How to access "London"?
cities[1]

'London'

In [129]:
## What is the output of following code?
cities[-1]

'Berlin'

In [172]:
## What is the output of following code?
cities = ["New York", "London", "Mumbai", 'Berlin']
try:
    cities[4]
except:
    print("Error handled")

Error handled

In [160]:
## How to add new value in the list? for e.g "Delhi"
cities.append("Delhi")
cities

['New York', 'London', 'Mumbai', 'Berlin', 'Delhi']

In [155]:
## How to add list of cities in the list? for e.g "Tokyo", "Toronto", "Hyderabad", "Istanbul"
new_cities = ["Tokyo", "Toronto", "Hyderabad", "Istanbul"]
cities.append(new_cities)
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Delhi',
 ['Tokyo', 'Toronto', 'Hyderabad', 'Istanbul']]

In [152]:
new_cities = ["Tokyo", "Toronto", "Hyderabad", "Istanbul"]
for c in new_cities:
    cities.append(c)
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Delhi',
 'Tokyo',
 'Toronto',
 'Hyderabad',
 'Istanbul']

In [158]:
cities + new_cities ##

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Delhi',
 'Tokyo',
 'Toronto',
 'Hyderabad',
 'Istanbul']

In [161]:
## Oops, Can I add as a values instead of list?
new_cities = ["Tokyo", "Toronto", "Hyderabad", "Istanbul"]
cities.extend(new_cities)
cities

In [163]:
cities.extend("Ottawa")
cities

['New York',
 'London',
 'Mumbai',
 'Berlin',
 'Delhi',
 'Tokyo',
 'Toronto',
 'Hyderabad',
 'Istanbul',
 'O',
 't',
 't',
 'a',
 'w',
 'a']

In [168]:
## I want to add "New city" name in 2nd place. How to do it?
cities.insert(1, "New city")  #.insert(pos, value)
cities

['New York', 'New city', 'London', 'Mumbai', 'Berlin']

In [169]:
## Add "Rio" to 5th place
cities.insert(4, "Rio")  #.insert(pos, value)
cities

['New York', 'New city', 'London', 'Mumbai', 'Rio', 'Berlin']

In [170]:
cities[1] = "Pune"
cities

['New York', 'Pune', 'London', 'Mumbai', 'Rio', 'Berlin']

In [171]:
## Remove "London" from cities
cities.remove("London")
cities

['New York', 'Pune', 'Mumbai', 'Rio', 'Berlin']

In [179]:
cities = ["New York", "London", "Mumbai", "London", 'Berlin']

In [182]:
cities.remove("London") ## IMP
cities

ValueError: list.remove(x): x not in list

In [13]:
## Remove 3rd value from the list
cities.pop(3)
cities

['New York', 'New City', 'Rio', 'Berlin']

In [188]:
num = [91, 81, 1, 17, 191, 8, 9, 10]

In [189]:
## Sort the numbers from lowest to higest
num.sort()
num

[1, 8, 9, 10, 17, 81, 91, 191]

In [190]:
num.reverse()
num

[191, 91, 81, 17, 10, 9, 8, 1]

In [185]:
## Reverse the list
num.sort(reverse=True)
num

[191, 91, 81, 17, 10, 9, 8, 1]

In [18]:
## What is common between below 2 variables?
my_list = [28, 22, 51, 31, 27, 32]
my_dict_of_list = {"0": 28, "1": 22, "2": 51, "3": 31, "4": 27, "5": 32}

In [192]:
my_list[2]

51

In [195]:
my_dict_of_list[2]

KeyError: 2

In [194]:
my_dict_of_list["2"]

51

In [222]:
my_dict = {
   "New York":28,
   "Chicago":22,
   "Phoenix":31,
   "Dallas":27,
   "Los Angeles":31,
   "Los Angeles":45
}

In [196]:
## What is wrong with below code?
my_dict["Los Angeless"]

KeyError: 'Los Angeless'

In [198]:
## What is the output of this code?
my_dict["Los Angeles"]

45

In [199]:
## What is wrong with below code?
my_dict[Los Angeles]

SyntaxError: invalid syntax (<ipython-input-199-cf4767f7786f>, line 2)

In [221]:
## What is wrong with below code? Fix it

"""
my_dict = {
   "New York":28,
   "Chicago":22,
   "Phoenix":31,
   "Dallas":27,
   "Los Angeles":31,
   "Los Angeles":45
}
"""

city = "Phoenixx"
my_dict[city]

KeyError: 'Phoenixx'

In [207]:
city = "Phoenix"
my_dict[city]

31

In [206]:
my_dict[Los_Angeles]

NameError: name 'New_York' is not defined

In [205]:
city = "Phoenix"
city1 = "Mumbai"
my_dict[city, city1]

KeyError: ('Phoenix', 'Mumbai')

In [208]:
## What is the output of following code?
"Phoenix" in my_dict

True

In [211]:
## What is the output of following code?
"phoenix" in my_dict   #"phoenix" in my_dict.lower()

False

In [215]:
## What is the output of following code?
if (my_dict.get("Phoenix")) :
    print("Present")
else:
    print("Not present")

Present

In [216]:
## What is the output of following code?
if (my_dict.get("Phoenixx")) :
    print("Present")
else:
    print("Not present")

Not present

In [217]:
my_dict

{'New York': 28, 'Chicago': 22, 'Phoenix': 31, 'Dallas': 27, 'Los Angeles': 45}

In [218]:
## Delete "Phoenix" from dictionary
del my_dict["Phoenix"]
my_dict

{'New York': 28, 'Chicago': 22, 'Dallas': 27, 'Los Angeles': 45}

In [223]:
my_dict.pop("Phoenix")

31

In [224]:
my_dict

{'New York': 28, 'Chicago': 22, 'Dallas': 27, 'Los Angeles': 45}

In [225]:
my_dict.remove("Phoenix")

AttributeError: 'dict' object has no attribute 'remove'

In [227]:
my_dict.del("Phoenix")

SyntaxError: invalid syntax (<ipython-input-227-d936f6c6aa19>, line 1)

In [247]:
dict2 = {
   "City":[
      "SF",
      "LA",
      "NYC"
   ],
   "Population":[
      8.37e5,
      3.88e6,
      8.4e6
   ]
}

dict2

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000.0, 3880000.0, 8400000.0]}

In [242]:
## How to access 'NYC' value?
dict2["City"][2] ## DON'T USE FOLLOWING SYNTAX - dict2['city']['NYC'], dict2.get("NYC"), dict["City"(2)], dict["City", 2], dict2.city(2), dict[City(2)]

'NYC'

In [249]:
## Add a new city i.e "Mum" in the list
dict2['City'].append('Mum')
dict2

{'City': ['SF', 'LA', 'NYC', 'Mum'],
 'Population': [837000.0, 3880000.0, 8400000.0]}

In [250]:
dict2.update({"New Key": "New Value"})  ## dict2.add[city]["Mumbai"]
dict2

{'City': ['SF', 'LA', 'NYC', 'Mum'],
 'Population': [837000.0, 3880000.0, 8400000.0],
 'New Key': 'New Value'}

In [251]:
dict2.update({"New Key 1": "New Value 1", "New Key 2": "New Value 2"})  ## dict2.add[city]["Mumbai"]
dict2

{'City': ['SF', 'LA', 'NYC', 'Mum'],
 'Population': [837000.0, 3880000.0, 8400000.0],
 'New Key': 'New Value',
 'New Key 1': 'New Value 1',
 'New Key 2': 'New Value 2'}

In [252]:
## How to get all keys of dictionary (my_dict)?
dict2.keys()

dict_keys(['City', 'Population', 'New Key', 'New Key 1', 'New Key 2'])

In [253]:
## How to get all values of dictionary (my_dict)?
dict2.values()

dict_values([['SF', 'LA', 'NYC', 'Mum'], [837000.0, 3880000.0, 8400000.0], 'New Value', 'New Value 1', 'New Value 2'])

In [256]:
## What is the output of following code?

my_dict = {
   "New York":28,
   "Chicago":22,
   "Phoenix":31,
   "Dallas":27,
   "Los Angeles":31,
   "Los Angeles":45
}

for i in my_dict.keys() :
    if (i.lower() == "dallas") :
        print("Present")
    else:
        print("Not present")

Not present
Not present
Not present
Not present
Not present

In [259]:
## How to iterate through dictionary(my_dict)?
for key, value in my_dict.items() :
    print(key, value)

New York 28
Chicago 22
Phoenix 31
Dallas 27
Los Angeles 45

In [262]:
for i in my_dict.items() :
    print(i)
    print(i[0], i[1])

('New York', 28)
New York 28
('Chicago', 22)
Chicago 22
('Phoenix', 31)
Phoenix 31
('Dallas', 27)
Dallas 27
('Los Angeles', 45)
Los Angeles 45

In [261]:
my_dict.items()

dict_items([('New York', 28), ('Chicago', 22), ('Phoenix', 31), ('Dallas', 27), ('Los Angeles', 45)])

In [28]:
## Update {"Mumbai" : 51, "Delhi": 67} in the dictionary

{'New York': 28,
 'Chicago': 22,
 'Dallas': 27,
 'Los Angeles': 45,
 'Mumbai': 51,
 'Delhi': 67}

In [263]:
## Rewrite the following code using list comprehension
numbers = []
for i in range(1,10):
   numbers.append(i)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [277]:
[i for i in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

* Generator function contains one or more yield statements.
* When called, it returns an object (iterator) but does not start execution immediately.
* Methods like __iter__() and __next__() are implemented automatically. So we can iterate through the items using next().
* Once the function yields, the function is paused and the control is transferred to the caller.
* Local variables and their states are remembered between successive calls.
* Finally, when the function terminates, StopIteration is raised automatically on further calls.

In [279]:
"""
def gen_func(...)
    i = 1
    yield i
    
    i = 2
    yield 2

    i = 3
    yield 3
"""
g = (i for i in range(1,10))

In [289]:
next(g)

StopIteration:

In [299]:
nums = [i for i in range(1,101)]

In [272]:
## Find all of the numbers from 1‚Äì100 that are divisible by 8
div8 = []
for n in nums:
    if(n%8 == 0) :
        div8.append(n)
div8

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

In [275]:
[n for n in nums if(n%8 == 0)] ## [<final_var> <for loop> <if-statement>]

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

In [308]:
for n in nums[0:11] :
    if(n%2 == 0) : 
        print(n, "even")
    else :
        print(n, "odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd

In [309]:
[(n, "even") if(n%2 == 0) else (n, "odd") for n in nums[0:11]]

[(1, 'odd'),
 (2, 'even'),
 (3, 'odd'),
 (4, 'even'),
 (5, 'odd'),
 (6, 'even'),
 (7, 'odd'),
 (8, 'even'),
 (9, 'odd'),
 (10, 'even'),
 (11, 'odd')]

In [298]:
## Find all of the numbers from 1‚Äì100 that have a 6 in them
[n for n in nums if "6" in str(n)]

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

In [305]:
## Use a dictionary comprehension to count the length of each word in a sentence
sentence = "Practice Problems to Drill List Comprehension in Your Head."
len_dict = {}

for wrd in sentence.lower().split():
    len_dict.update({wrd: len(wrd)})
len_dict

{'practice': 8,
 'problems': 8,
 'to': 2,
 'drill': 5,
 'list': 4,
 'comprehension': 13,
 'in': 2,
 'your': 4,
 'head.': 5}

In [306]:
{wrd: len(wrd) for wrd in sentence.lower().split()}

{'practice': 8,
 'problems': 8,
 'to': 2,
 'drill': 5,
 'list': 4,
 'comprehension': 13,
 'in': 2,
 'your': 4,
 'head.': 5}